//
// Topbar
//

.btn-topbar {
	@include button-custom-variant(
		$color: null,
		$icon-color: var(--#{$prefix}topbar-btn-icon-color),
		$border-color: null,
		$bg-color: var(--#{$prefix}topbar-btn-bg-color),
		$color-active: var(--#{$prefix}topbar-btn-icon-color-active),
		$icon-color-active: null,
		$border-color-active: null,
		$bg-color-active: var(--#{$prefix}topbar-btn-bg-color-active),
	)
}